
@{
    ViewData["Title"] = "Location Manager | Welcome";
}

<h4 class="text-center">Welcome to Location Manager</h4>
<div class="text-center">
    <p>Click <a asp-controller="Districts" asp-action="SeeDistrict">here</a> to manage districts.</p>
    <p>Click <a asp-controller="Regions" asp-action="SeeRegion">here</a> to manage regions.</p>
</div>



